<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
<body>
<section class="section">
    <div class="container">
        <img src="<%= sp.image %>">
        <h2>Tên sản phẩm: <%= sp.label %></h2>
        <h2>Số Tiền: <%= sp.area %></h2>
        <p><%= sp.description %></p>
    </div>
</section>

</body>
</html>